*.yaml
*.yml
nginx.config
nginx-selfsigned.crt
nginx-selfsigned.key
dockerfile
.venv/
data/
deployment.sh
update_cert_secret.sh
readme.md
docker-compose.yml
role_id
secret_id
vault/
rendered/
*_Root.crt
tls.crt
tls.key
dev_deployment_files/
prod_deployment_files/
export_secrets.sh
infrastructure.png