<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BulkIntel Reputation Checker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/login.css' %}">
    <link rel="icon" href="{% static 'app/icons/favicon_new.ico' %}" type="image/x-icon">
    {% block extrahead %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
