{% extends 'auth_app/base.html' %}
{% load static %}
{% block content %}
<div class="login-container">
    <div class="centered-content">
        <img src="{% static 'app/icons/favicon.ico' %}" alt="IP Checker Icon">
        <h2>Welcome</h2>
    </div>
    <p>Log in to continue to BulkIntel Reputation Checker.</p>

    {% if error %}
    <div class="error-message">
        <p>{{ error }}</p>
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Username *</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required>

        <label for="password">Password *</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <button type="submit">Continue</button>
    </form>
    <a href="/register/" class="btn">Register</a>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');

            for (const raw of cookies) {
            const cookie = raw.trim();
            if (cookie.startsWith(`${name}=`)) {
                cookieValue = decodeURIComponent(cookie.slice(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}
