{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BulkIntel Reputation Checker</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="icon" href="{% static 'app/icons/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="header">
        <img src="{% static 'app/icons/favicon.ico' %}" alt="App Icon" class="app-icon">
        <div class="user-info">
            <p>Hello, {{ request.user.username }}</p>
            <form action="{% url 'app:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>        
        </div>
    </div>

    <div class="input-section">
        <textarea id="ip_input" class="ip-textarea" placeholder="Enter IPs, URLs, domains or user agents here (one per line)..."></textarea>
        <div class="buttons-container">
            <button id="check_abuseipdb" class="check-button">Check IP on AbuseIPDB</button>
            <button id="check_virustotal" class="check-button">Check IP on VirusTotal</button>
            <button id="check_url_virustotal" class="check-button">Scan URL on VirusTotal</button>
            <button id="check_domain_virustotal" class="check-button">Check domain on on VirusTotal</button>
            <button id="check_hash_virustotal" class="check-button">Check HASH on on VirusTotal</button>
            <button id="check_user_agent" class="check-button">Check user agent</button>
        </div>
    </div>

    <div id="results_table" class="results-section">
        <!-- Results will be displayed here by JavaScript -->
    </div>

    <div class="leaderboard-card">
        <div class="leaderboard-header">
            <h2 class="leaderboard-title">Statistics</h2>
            <div class="leaderboard-controls">
            <label for="lb_entity">Indicator:</label>
            <select id="lb_entity">
                <option value="ip">IP</option>
                <option value="domain">Domain</option>
                <option value="url">URL</option>
                <option value="hash">Hash</option>
                <option value="ua">User Agent</option>
            </select>

            <label for="lb_period">Period:</label>
            <select id="lb_period">
                <option value="day">Today</option>
                <option value="week">This week</option>
                <option value="month">This month</option>
            </select>
            </div>
        </div>
        <div id="leaderboard_results" class="leaderboard-body"></div>
    </div>

    
    <script src="{% static 'app/js/index.js' %}"></script>
   
</body>
</html>
